<template lang="html">
    <div class="container">
        <header>
            <nuxt-link to="/" class="button is-warning">Back</nuxt-link>
            <h1 class="title">{{ title }}</h1>
        </header>
        <br>
        <div class="columns is-multiline">
            <div class="column is-one-quarter" v-for="photo in photos" :key="photo.id">
                <img :src="photo.thumbnailUrl" :alt="photo.title">
            </div>
        </div>
    </div>
</template>

<script>
  import router from 'vue-router';
  import axios from 'axios';
  import env from '../../config/env';
  // import AlbumCard from "../components/AlbumCard";

  export default {
    name: 'AlbumDetails',
    // components: {
    //   AlbumCard
    // },
    data(){
      return {
        title: "Getting album ...",
        album: {},
        photos: []
      }
    },
    created: async function (){
      const albumResponse = await axios.get(`${env.endpoint}/albums/${this.$route.params.id}`);

      if (albumResponse.status === 200) {
        // set data album
        this.album = albumResponse.data;
        this.title = this.album.title;

        // get Images
        const photoResponse = await axios.get(`${env.endpoint}/albums/${this.$route.params.id}/photos`);
        if (photoResponse.status === 200){
          // set data photos
          this.photos = photoResponse.data;
        }
      }
      else {
        this.title = "Error to get Album";
      }
    }
  }
</script>

<style scoped>
    .container {
        text-align: center;
    }
</style>
