<template lang="html">
    <div class="container">
        <header>
            <h1 class="title">{{ title }}</h1>
        </header>

        <div class="columns is-multiline">
            <AlbumCard :album="album" v-for="album in albums" :key="album.id" />
        </div>
    </div>
</template>

<script>
    import axios from 'axios';
    import env from '../config/env';
    import AlbumCard from "../components/AlbumCard";

    export default {
      name: 'IndexPage',
      components: {
        AlbumCard
      },
      data(){
        return {
          title: "Albums",
          albums: []
        }
      },
      created: async function () {
        const albumsResponse = await axios.get(`${env.endpoint}/albums`);

        if (albumsResponse.status === 200){
          this.albums = albumsResponse.data;
        }
        else {
          this.title = "Error to get albums list";
        }
      }
    }
</script>

<style scoped>
</style>
